<footer class="{% block footer_class %}{% endblock %}">
	<nav id="bottomnav">
		<ul>
			<li class="bottomnav"><a href="/" class="sans-font">Home</a></li>
			<li class="bottomnav"><a href="/profile" class="sans-font">About</a></li>
			<li class="bottomnav"><a href="/blog" class="sans-font">Blog</a></li>
			<li class="bottomnav"><a href="/photography/" class="sans-font">Photography</a></li>
			<li><span class="copyright sans-font">&copy; Copyright Phoebe Hui-Chun Lin 2012 - 2014. All Rights Reserved.</span></li>
		</ul>
	</nav>
</footer>