{% extends "shell.html" %}
{% block title %} - Profile {% endblock %}
{% block link %}
	<link rel="stylesheet" href="/static/css/profile.css" />
	<!--[if IE]>
	<link rel="stylesheet" type="text/css" href="/static/css/profile-ie.css" />
	<![endif]-->
{% endblock %}
{% block content %}
	<section id="profile">
		<div class="transparentbg ">
			<p>I am a front-end developer &amp; UX designer currently working at <a href="https://www.curbsideme.com/" target="_blank">CurbsideMe</a>. </p>
			<p>
				<span class="larger14 red-font sans-font">Experience</span><br />
				<span class="">Epic Systems Corporation, Verona, WI</span><br />
				<span class="italic smaller valigntop">software developer '09 - '13</span><br />
			   	<span class="">Western Digital Corporation, Lake Forest, CA</span><br />
				<span class="italic smaller valigntop">software developer intern '09</span><br />
			   	<span class="">Canon Development Americas, Irvine, CA</span><br />
				<span class="italic smaller valigntop">software developer intern '08</span><br />
			</p>
			<p>
				<span class="larger14 red-font sans-font">Education</span><br />
			   	<span class="">University of California, Irvine, CA</span><br />
			    <span class="italic smaller valigntop">M.S. in computer science '07 - '09</span>
			</p>
			<p>
				<span class="larger14 red-font sans-font">Contact</span><br />
			   	phoebe.hclin [at] gmail.com
			</p>
			<p class="socialicons">
			   	<a href="http://www.linkedin.com/pub/phoebe-lin/2b/317/35a/" target="_blank"></a>
			   	<a href="http://www.facebook.com/phoebelin" target="_blank"></a>
			   	<a href="http://plus.google.com/115303097236700309344" target="_blank"></a>
			   	<a href="http://twitter.com/phoebe_hclin" target="_blank"></a>
			</p>
		</div>
	</section>
{% endblock %}
